@import "../Abstracts/variable";
@import "../Abstracts/mixin";
.header{
    background-color: $color-blue-light;
    height: 10rem;
    position: relative;
    &__logo-box{
      position: absolute;
      top: 1.5rem;
      left: 20rem;
    }
    &__logo{
      &--1{
        width: 5rem;
      }
    }
    &__form{
      position: absolute;
      top: 3rem;
      left: 38rem;
      width: 100%;
      &-search{
        width: 25%;
        height: 3rem;
        border-radius: .5rem 0 0 .5rem;
        border: none;
        padding-left: 1rem;
        &::-webkit-input-placeholder{
            opacity: .8;
        }
        &:focus{
          outline: none;
        }
      }
    }
    &__box-account{
      position: absolute;
      top: 3rem;
      right: 30rem;
      width: 10rem;
      display: inline-block;
    }
    &__account-dropdown-content{
      display: none;
      position: absolute;
      background-color: $color-white;
      right: .4rem;
      min-width: 16rem;
      box-shadow: 0rem .8rem 1.6rem 0rem rgba($color-black,.2);
      padding: 1.2rem 1.6rem;
      z-index: 1;

    }
    &__box-account:hover .header__account-dropdown-content{
        display: block;

    }
    &__list{
        list-style: none;
    }
    &__left{
      width: 33.33333%;
      display: table-cell;
      &-icon{
        font-size: 3rem;
        color: $color-white;
      }
    }
    &__right{
      width: 66.66667%;
      display: table-cell;
      vertical-align: middle;
      padding: 0rem 1rem 0rem .6rem;
      &-text{
        font-size: 1.2rem;
        font-weight: 400;
        color: $color-white;
        &--sub{
          font-size: 90%;
        }
      }
    }
    &__cart{
      position: absolute;
      top: 2rem;
      right: 15rem;
      width: 10rem;

    }
}
