.u-margin-right-small{
  margin-right: 1rem !important;
}
.u-margin-bottom-small{
  margin-bottom: 1rem !important;
}
.u-margin-bottom-big{
  margin-bottom: 3rem !important;
}

.u-margin-top-3{
  margin-top: 3rem !important;
}
.pd-10{
  padding: 10rem !important;
}
