<table>
  <tr>
    <th></th>
    <th>Name of Book:</th>
    <th>Name of author:</th>
    <th></th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to image_tag(book.image_url(:thumb)),book_path(book) %></td>
      <td><%= book.namebook %></td>
      <td><%= book.nameauthor %></td>
    </tr>
  <% end %>
</table>
